@import "tailwindcss";

:root {
  --background: #E6F4FF;
  /* 하늘색 배경으로 고정 */
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-pretendard), ui-sans-serif, system-ui;
  --font-display: var(--font-cafe24), sans-serif;

}

/* 다크모드에서도 하늘색 배경을 유지하고 싶다면 이 부분은 주석 처리하거나 지워도 됩니다. */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} 
*/

@keyframes slide {
  from {
    transform: translateX(-150vw);
  }

  to {
    transform: translateX(150vw);
  }
}

.animate-cloud-fly {
  animation: slide 30s linear infinite;
}

.animate-cloud-fly-slow {
  animation: slide 45s linear infinite;
}

.animate-cloud-fly-fast {
  animation: slide 20s linear infinite;
}